<div class="col-md-4" ng-controller="tableCtrl">
    <a href="#/reservationsuser">go back</a>
    <h4>Table Map</h4>
    <button class="tableSquare" ng-click="table1()" ng-style="myStyle" >
        table1<p ng-bind="name"></p>

    </button>
    <button class="tableSquare" ng-click="table2()" ng-style="myStyle1">
        table2<p ng-bind="name1"></p>

    </button>
    <button class="tableSquare" ng-click="table3()" ng-style="myStyle2">
        table3<p ng-bind="name2"></p>

    </button>
    <button class="tableSquare" ng-click="table4()" ng-style="myStyle3">
        table4<p ng-bind="name3"></p>

    </button>
</div>
