<h3 class="heading">Reservation List</h3>
<a href="/#reservationsuser/add" class="btn btn-success">Make Reservation</a>
<a href="/#restaurants" class="btn btn-success">Restaurant List</a>
<div ng-controller="reservationuserctrl">






    <div class="row">





        <form class="form-inline well well-sm" >
            <span class="glyphicon glyphicon-search" ></span >

            <div class="form-group" >
                <input type="text"
                       class="form-control"
                       id="name"
                       ng-model="search.$"
                       placeholder="Search ..."
                />
            </div >

        </form >
        <form class="form-inline well well-sm" >
            <span class="glyphicon glyphicon-search" ></span >

            <div class="form-group" >
                <input type="text"
                       class="form-control"
                       id="name"
                       ng-model="search.name"
                       placeholder="Search name..."
                />
            </div >
        </form>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>date</th>
                    <th>partysize</th>
                    <th>customername</th>
                    <th>confirmationcode</th>

                    <th>phone</th>
                    <th>status</th>
                    <th>edit</th>
                    <th>delete</th>
                    <th>getTable</th>
                </tr>
                <tr ng-repeat="reservation in reservations | filter:search:strict">
                    <td ng-bind="reservation.date | date:'yyyy-MM-dd HH:mm:ss'"></td>
                    <td>{{reservation.partysize}}</td>
                    <td>{{reservation.name}}</td>
                    <td>{{reservation.confirmationcode}}</td>
                    <td>{{reservation.phone}}</td>
                    <td>{{reservation.status}}</td>
                    <td><a href="#/reservationsuser/edit/{{reservation._id}}" class="btn btn-primary">Edit</a></td>
                    <td><a href="#" class="btn btn-danger" ng-click="remove(reservation._id)">Delete</a></td>
                    <td><a href="#/reservationsuser/assign/{{reservation._id}}" class="btn btn-primary">Table</a></td>
                </tr>

            </tbody>
        </table>




            <div ng-if=" reservations == false ">
                No reservation to display
            </div>

    </div>
</div>
